.dummyWrap {
  height: 100%;
  width: 100%;
}

.contextMenu {
  position: absolute;
}
.contextMenuItem {
  min-width: 72px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  box-shadow: 0px 5px 3px rgba(0,0,0,0.3);
  background: rgba(255, 255, 255, 0.8);
}

.selectValue {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  padding-right: 15px;
  min-height: 20px;
  white-space: nowrap;
  color: #fff;
  position: relative;
}
.selectValue:before, .selectValue:after {
  content: '';
  width: 0px;
  right: 5px;
  position: absolute;
  border-top: 4px solid #fff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}
.selectValue:before {
  top: calc(50% + 1px);
}
.selectValue:after {
  border-top: 0;
  border-bottom: 4px solid #fff;
  bottom: calc(50% + 1px);
}

.select {
  position: absolute;
}
.select:after {
  position: absolute;
  content: '';
  border-top: 0;
  border-bottom: 4px solid #eee;
  bottom: 100%;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  left: 50%;
  transform: translateX(-50%);
}
.optionWrap {
  max-height: 150px;
  overflow-y: scroll;
}
.option {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  min-width: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  box-shadow: 0px 5px 3px rgba(0,0,0,0.3);
  background: #eee;
}
.option.selected {
  font-weight: bold;
}
.option:hover {
  color: #eee;
  background: #666;
}
.option:first-child:hover:before {
  border-bottom-color: #666;
}

.inputValue {
  color: #666;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 20px;
  padding: 0 4px 0 4px;
  box-sizing: border-box;
  border-radius: 40px;
}
.input {
  display: inline-block;
  position: absolute;
}
.input > input {
  color: #666;
  font-size: 12px;
}
.editing {
  color: transparent;
}
